@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

* {
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
  --translucent-white: rgba(255, 255, 255, .6);
  --translucent-white-hover: rgba(255, 255, 255, .7);
  --translucent-black: rgba(0,0,0,.6);
}
html, body {
  height: 100%;
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
}
#root {
  background: #16161d;
  background: linear-gradient(135deg, #16161d 0%,#25273a 100%);
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding: 0 10px;
}
.app {
  background-color: var(--translucent-black);
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
}


/* all buttons */
button,
input[type="submit"], 
a,
a:link,
a:visited {
  all: unset;
  display: inline-block;
  padding-right: .5em;
  padding-left: .5em;
  margin-left: .5em;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 1000px;
  border-width: 2px;
  border-style: solid;

  border-color: var(--translucent-white);
  background-color: transparent;
  color: var(--translucent-white);
}
button:hover,
input[type="submit"]:hover, 
a:hover {
  border-color:transparent;
  background-color: var(--translucent-white);
  color: var(--translucent-black);
}
.button-group {
  text-align: right;
  margin-top: 10px;
  height: 2em;
  line-height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.note .micro-copy {
  color: var(--translucent-white);
}


/* New Note Form */
div.new-note-wrapper {
  margin: 10px auto 30px;
  padding: 2px;
  border-radius: 1000px;
  overflow: hidden;
  position: relative;
}
div.new-note-wrapper::before,
div.new-note-wrapper::after  {
  content: "";
  display: block;
  background: linear-gradient(135deg, #e0004a 0%,#b500e2 100%);
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 1;
  transform: rotate(0deg);
  transition: all .7s cubic-bezier(1,.0,0,1);
  filter: blur(5px);
}
div.new-note-wrapper::after {
  z-index: 0;
  opacity: .6;
}
div.new-note-wrapper:focus-within::before {
  transform: rotate(180deg);
}
form.new-note-form {
  display: flex;
  border-radius: 1000px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0,0,0,.85);
  z-index: 3;
}
.new-note-form input[type=text] {
  width: 100%;
  flex: 1 1 auto;
  background-color: transparent;
  border: 0;
  padding: .75em;
  padding-left: 1.1em;
  font-size: 1.2em;
  color: rgba(255, 255, 255, .6);
  outline: none;
}
.new-note-form input[type=text]::placeholder {
  color: rgba(255, 255, 255, .4);
  font-style: italic;
}
.new-note-form input[type=text]:focus-within::placeholder {
  color: transparent;
}
.new-note-form input[type=submit] {
  margin: 10px;
}
@media (max-width: 400px) {
  div.new-note-wrapper {
    border-radius: 10px;
  }
  form.new-note-form {
    flex-direction: column;
    border-radius: 8px;
  }
  .new-note-form input[type=text] {
    background-color: var(--translucent-black);
    width: auto;
    padding: .5em;
    margin: .5em;
    border-radius: 1000px;
  }
  .new-note-form input[type=submit] {
    align-self: flex-end;    
    padding-top: 0;
    padding-bottom: .2em;
  }
}


/* note */
.note {
  color: rgba(255, 255, 255, .9);
  display: block;
  border-radius: 10px;;
  padding: 2px;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}
.note::before {
  content: "";
  display: block;
  background: linear-gradient(135deg, #b500e2  0%,#1a9cad 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.container {
  background-color: rgba(0,0,0,.85);
  border-radius: 8px;
  position: relative;
  z-index: 2;
  padding: .25em;
}
.note .content,
.note textarea.content {
  font-size: 1.2em;
  color: rgba(255, 255, 255, .6);
  padding: 5px;
}


/* note form */
.note input[type="text"],
.note textarea {
  background-color: rgba(255, 255, 255, .15);
  border: none;
  display: block;
  /* width: calc(100% - 10px);
  min-width: calc(100% - 10px);
  max-width: calc(100% - 10px); */
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border-radius: 6px;
  font-family: Ubuntu, sans-serif;
}


/* Animation Expiraments */
.note {
  transition: all .3s;
}

.note.editing.animate {
  padding: 4px;
  transform: scale(1.05);
}
.note.editing.animate .container {
  border-radius: 6px;
}

.note.deleting.animate {
  padding: 4px;
  transform: scale(.95);
}
.note.deleting.animate .container {
  border-radius: 6px;
}

.note.disabled {
  opacity: 1;
}

.note.disabled.animate {
  opacity: .5;
}